.transaction-history {
  font-family: cursive;
}

table {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  margin: 10px;
}
th,
td:first-child {
  background: #d6e7af;
  color: rgb(46, 10, 10);
  padding: 10px 20px;
}
th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
td {
  background: #e6f3d8;
}
th:first-child,
td:first-child {
  text-align: left;
}
